
.card {
  flex: 0 0 auto;
  background-color: #fff;
  width: 142px;
  box-shadow: 0 0 5px rgba(227, 227, 227, 0.5);
  border-radius: 10px;
  margin-right: 15px;
  padding: 5px 10px;
}

.card-top-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .card {
    width: 331px;
    margin-bottom: 20px;
  }  
}