.main-content-sections {
  padding: 10px 0;
}

.main-content-sections h4 {
  margin: 0;
}

.card-container {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card-container::-webkit-scrollbar {
  display: none;
}
